.homePage {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
}

.wordDisplay {
    background-color: var(--backgroundDark);
    color: var(--fontColorLight);
    font-family: var(--displayFont);
    font-size: var(--displayFontSize);
    transition: color 0.5s ease;

}

.fadeIn {
    animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.flexCol {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.correct {
    color: var(--correctColor);
}

.incorrect {
    color: var(--incorrectColor);
}

.wordForm {
    color: var(--fontColorDark);
    background-color: var(--backgroundLight);
}


/* PHONES */

/* Styles for screens with a max-width of 768px (small screens) */
@media (max-width: 768px) {
    .homePage {
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .panel {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 50%;
        width: 100%;
    }

    .wordDisplay {
        background-color: #595959;
        color: var(--fontColorLight);
        font-family: var(--displayFont);
        order: 1;
    }

    .wordForm {
        color: var(--fontColorDark);
        background-color: #f2f2f2;
        order: 2;

    }

}